<div class="container">
	<div class="row">
		<div class="col-md-6">
			<a href="" class="btn btn-default" role="button" ng-click="vote('yes')">Yes</a>
			<a href="" class="btn btn-default" role="button" ng-click="vote('no')">No</a>
			<a href="" class="btn btn-default" role="button" ng-click="vote('maybe')">Maybe</a>
			<a href="" class="btn btn-default" role="button" ng-click="reset()">Reset</a>
		</div>
		
		<div class="col-md-6">
			Graph:
			<canvas id="doughnut" class="chart chart-doughnut" chart-options="options" chart-data="data" chart-labels="labels"></canvas> 
		</div>
		
		{{ voteResults }}
	</div>
</div>
